/*    =================================== Footer Css ====================================== */

body {
    font-family: PS Commons;
}
.blankdiv{
    height: 20px;
    width:60%;
}

#footer {
    background-color: white;
    color: #42423f;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;


   
}


#solution>p>a,#platform>p>a{
    text-decoration: none;
    color: #42423f;
    font-size: 20px;
    font-style: normal;
   text-decoration: none;
   font-weight: normal;
   font-size: 20px;
   margin-top:10px;
}

#solution>p,#platform>p,#company>p{
    margin: 15px 5px;
    
}

.graycolor {
    color: #7c7c7d
}

/* a:hover {
    color: white;
} */

.icon-color {
    color: white;
    font-size: 20px;
    background-color: none;
}
#company>input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    font-size:20px;
    outline: none;
  }
  

  #company>button{
      width: 95px;
      height:30px;
      background-color:#42423f;
      color: aliceblue;
  }

  #company>div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:250px;
      margin-top: 20px;
      /* font-size: 20px; */
    

  }
 
  /* .icon{
      gap:30px;
      margin-top:20px;
      font-size: 25px;
      border: 1px solid black;
  } */
  #company p{
  font-weight: 100;
margin-bottom: 0px;

  }
  .icon  i{
    font-size: 20px;
    margin:0px 10px;
    color: black;
  }
  



/* ================================================Footer============================================================================== */







/* =========================================================Navbar===================================================================== */




*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
     font-family:sans-serif;
}

#navbar{
    display:flex;
    width: 90%;
     margin: 10px auto;
}
#navbar i{
    cursor: pointer;
}
#navbar .fa-bag-shopping{
    position: relative;
}

.displayCart{
    display:block;
}
#navbar .cartBox{
    width:400px;
    height:100vh;
    background-color:#fff;
    /* border:1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}
#navbar .cartBox img{
    width:80px;
    margin-right: 20px;
}
/* #navbar .cartBox>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:300px;
    margin: 20px auto;
} */
/* #navbar .cartBox>div:nth-child(1) >i{
    cursor:pointer;
} */

#navbar .cartBox>div:nth-child(1){
    height:400px;
    /* border: 1px solid #000; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width:100%;
    overflow-x: scroll;
}
#navbar .cartBox>div:nth-child(1)::-webkit-scrollbar {
display: none;
}
#navbar .cartBox>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    margin-top:40px
}

#navbar .cartBox button{
    width: 70%;
    margin-left:60px;
    margin-top:30px;
    background-color: palevioletred;
    border:none;
    outline: none;
    color: #fff;
}
#navbar .cartBox>div>div{
    display:flex;
    padding:10px;
    align-items:center
    
}
#navbar .cartBox>div>div>h4{
    font-size:15px;
    width:150px
}

#navbar>div:first-child,#navbar>div:nth-child(3){
    width: 40%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size:25px;
}

#navbar>div:nth-child(3){
    justify-content:space-between;
    padding:0px 80px
}

#navbar>div:nth-child(3)>div>input{
    outline: none;
    border-radius: 5px;
    font-size:20px;
    padding:5px;
    border: 1px solid grey;
}

 #bar{      
    background-color:  #42423f;
     width: auto;
     height: 50px;
     display: flex;
     margin: auto;
     font-size: 18px;
     font-weight: bold;
   justify-content: center;
     
   }
   #bar > div{
       color: white;
       width: 30%;
       height: 100%;
       padding: 17px;
   }
   #bar >div:first-child {
       
       font-size: 17px;
       font-weight: bold;
    }


    #dropdownC{
        display: none;
        width: 100%;
        height: 360px;
        position: fixed;
        background-color: white;
        box-shadow: 2px 2px 4px lightgrey;
        top: 200px;
        z-index: 1;
    }
    
    .conD{
        width: 50%;
        height: auto;
        /* border: 1px solid blue; */
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
    
        overflow-y: scroll;
        color: #3c3c3c;
        border-right: 2px solid lightgray ;
    
    }
    
    
    .conD::-webkit-scrollbar{
        display: none;
    }
    .conD>ul{
        margin: 25px 0 30px 40px;
        line-height: 3;
        /* text-decoration: none; */
        list-style: none;
    }
    
    .conD>ul > li{
        cursor: pointer;
    }
    .imgD{
        width: 50%;
        height: 100%;
        /* border: 1px solid red; */
    }
    
    .conD>ul>:nth-child(2){
        color: #ff6781;
    }
    
    
    
    #shopAll{
        text-decoration: none;
        color: #3c3c3c;
    
    
    }
    
    .imgD > img{
        width: 80%;
        height: 80%;
    border-radius: 10px;
    margin: 30px 0 0 40px;
    }
    





/* ==========================================================Navbar========================================================================== */